VITE_SUPABASE_URL=https://bluorxnssewypmgnnwgs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsdW9yeG5zc2V3eXBtZ25ud2dzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2ODQ4NzAsImV4cCI6MjA5NTI2MDg3MH0.aLpJsv4wrWofg15icG5ZLNf3D12xQxpWzO4jZR2gZ0U
VITE_API_URL=http://localhost:5174