VITE_SUPABASE_URL=https://aaskgsvzrtvgzjpuoihh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhc2tnc3Z6cnR2Z3pqcHVvaWhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Nzk5ODIsImV4cCI6MjA5NTI1NTk4Mn0.HDaO5tJyXctNHQuDzTPOcCN9JVlKmCVaGQ8ILUpU7E0
VITE_API_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhc2tnc3Z6cnR2Z3pqcHVvaWhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTY3OTk4MiwiZXhwIjoyMDk1MjU1OTgyfQ.np9l0WGVAan89YbQam46PqURM4-mxjpqxQTfxwtazHg
